:root {
  --ev-c-white: #ffffff;
  --ev-c-white-soft: #f8f8f8;
  --ev-c-white-mute: #f2f2f2;

  --ev-c-black: #1b1b1f;
  --ev-c-black-soft: #222222;
  --ev-c-black-mute: #282828;

  --ev-c-gray-1: #515c67;
  --ev-c-gray-2: #414853;
  --ev-c-gray-3: #32363f;

  --ev-c-text-1: #111827;
  --ev-c-text-2: #374151;
  --ev-c-text-3: #6b7280;

  --ev-button-alt-border: transparent;
  --ev-button-alt-text: #111827;
  --ev-button-alt-bg: #f3f4f6;
  --ev-button-alt-hover-border: transparent;
  --ev-button-alt-hover-text: #111827;
  --ev-button-alt-hover-bg: #e5e7eb;
}

:root {
  --color-background: #ffffff;
  --color-background-soft: #f9fafb;
  --color-background-mute: #f3f4f6;
  --color-text: #111827;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: #111827;
  background: #ffffff;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
